.pink{
    background-color: rgb(224, 131, 212);
    color: aliceblue;
}

.purple{
    background-color: rgb(188, 65, 236);
    color: rgb(229, 151, 190);
}

.black{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}